.section-header {
  height: 60vh;
  padding-top: 50px;
}

.header-container {
  position: relative;
  background: linear-gradient(45deg, #0fd64f, #f8ef42);
}

.section-text {
  position: relative;
  color: var(--my_dark);
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-profiles {
  position: relative;
  color: var(--my_dark);
  padding-bottom: 150px;
}

.heading {
  color: white;
  font-size: 4.5rem;
}

.img {
  width: 100%;
  border-radius: 15px;
}

.img:hover {
  cursor: pointer;
}

.img-overlay {
  position: absolute;
  border-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #2c2b29;
  text-decoration: none !important;
}

.img-chess {
  background-color: #2c2b29;
}

.img-hackerrank {
  background-color: #39424e;
}

.img-codewars {
  background-color: #262729;
}

.img-tryhackme {
  background-color: #212c42;
}

.img-git {
  background-color: #f7f7f7;
}

.img-insta {
  background-color: #ea001e;
}

.img-geocaching {
  background-color: #02884d;
}

.img-htb {
  background-color: #141d2c;
}

.img-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay-txt {
  color: white;
}

.overlay-txt-git {
  color: #000000;
}

.bg-1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(45deg, #0fd64f, #f8ef42);
}

.bg-2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: var(--my_light);
  transition: background-color 1s ease;
}

.color-grey {
  background-color: var(--my_dark);
}
.color-red {
  background-color: #dc3545;
}
.color-white {
  background-color: var(--my_light);
}

.color-transparent {
  background-color: transparent;
}



.holder {
  position: relative;
  background-color: var(--my_light);
  border-radius: 20px;
  color: var(--my_dark);
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  margin-bottom: 50px;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
}

.picture-games {
  width: 100%;
  max-width: 220px;
  border-radius: 20px;
}

ul{
  padding-bottom: 0;
  margin: 0;
}