.first-section {
  background-color: var(--my_light);
  color: #4b597b;
}

.header-row{
    height: 50vh;
}

.color-first{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFE3DC;
    height: 100px;
    margin-bottom: 20px;
}

.color-second{
    background-color: #DBB4AD;
    height: 100px;
    margin-bottom: 20px;
}

.color-third{
    background-color: #A2AD91;
    height: 100px;
    margin-bottom: 20px;
}

.color-last{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3A2D32;
    height: 100px;
    margin-bottom: 20px;
}

.quote-row{
    background-color: var(--my_light);
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
    padding: 20px;
    border-radius: 10px;
}

.vincent{
    display: inline-block;
    font-size: 1rem;
}