.section-header {
  height: 100vh;
  padding-top: 50px;
  align-items: center;
  align-content: center;
}

.section-pictures {
  background-color: #23272d;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: whitesmoke;
}

.page_4 {
  background-color: #23272d;
  padding-top: 50px;
  padding-bottom: 50px;
  color: whitesmoke;
}

.heading-size {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .heading-size {
    font-size: 4.5rem;
  }
}

.picture {
  width: 100%;
  border-radius: 20px;
}

.fullpicture {
  width: 100%;
}

.desc {
  align-items: center;
  justify-content: center;
}

.section-desc {
  height: 30vh;
  text-align: center;
  background-color: #23272d;
}

p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.5rem;
  }
}

.table{
  color: whitesmoke;
}