html,
body {
  -webkit-user-select: auto;
}

::selection {
  background: #ff7264;
}

::-moz-selection {
  background: #ffb7b7;
}

.first-holder {
  background-color: white;
  color: #4b597b;
}

.bg-gradient {
  height: 100vh;
}

.second-page {
  background-color: white;
  color: #4b597b;
  padding-top: 50px;
}

.grad {
  background-image: linear-gradient(to right top, #81fbb8, #28c76f);
  margin: 10%;
  border-radius: 10px;
  transition: 0.5s;
}

.grad:hover {
  opacity: 0.5;
}

.txtcode {
  color: white;
  -webkit-user-select: all;
}

.txtcodeholder {
  padding: 20px;
  background-color: rgba(189, 189, 189, 0.1);
  border-radius: 10px;
}

.rightside{
  padding-top: 30px;
}

.pickr-holder{
  padding: 0;
}