.section-header {
  height: 60vh;
  padding-top: 50px;
}

.header-container {
  /* background: linear-gradient(45deg, #000000, #55EFC4); */
  background: linear-gradient(45deg, #f96e33, #e33684);
}

.section-text{
  background-color: white;
  color: #4b597b;
  padding: 50px;
}

.heading {
  color: white;
  font-size: 4.5rem;
}